@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#4692FE];
    font-family: "Montserrat", sans-serif;
}

p {
    font-size: 14px;
    line-height: 25px;
}

@layer components {
    .btn {
        @apply bg-black;
    }
}